doctype html
html(lang="en")
    include includes/head
    body
        include includes/nav
        .container
            div#journalSuccess(class="alert alert-success alert-dismissable text-center" style="display:none")
                button(type="button" class="close" data-dismiss="alert" aria-hidden="true")
                    | &times;
                strong Success! 
                span Your journal entry was saved.
            div#journalFail(class="alert alert-danger alert-dismissable text-center" style=msg ? "" : "display:none")
                button(type="button" class="close" data-dismiss="alert" aria-hidden="true")
                    | &times;
                strong Error! 
                span
                    if msg
                        | #{msg}
                // TODO: add the error message of why the entry save failed.
            .row.text-center.egress-template
                header.page-header
                    h1 Welcome, #{user}
                .row.text-center
                    form#journalForm(method="post" action="/entries")
                        p.lead How was your day?
                        

                        .span6
                            // TODO: add in a noscript tag here to deal with when JS is disabled
                            .btn-group.row-fluid(data-toggle="buttons")
                                // TODO: setup conditional classes so each rating has it's own color
                                // TODO: use mixins
                                each val, index in {1:"Terrible", 2:"Bad", 3:"Okay", 4:"Good", 5:"Awesome"}
                                    if today && today.value == index
                                        label#rating.btn.btn-primary.active
                                            input.rating-button(type="radio" name="rating" value="#{index}")
                                            = val
                                    else
                                        label#rating.btn.btn-primary
                                            input.rating-button(type="radio" name="rating" value="#{index}")
                                            = val
                        br
                        br
                        textarea.form-control(name="journal" id="journal" placeholder="Journal entry for today" style="min-width: 50px; max-width:600px; margin:0 auto;" required).
                                #{today.entry}
                        br
                        input.btn.btn-primary(type="submit" id="submit" name="submit" value=today && typeof today.value === "undefined" ? "Save" : "Update")
                
                .row.text-center
                    br
                    if entries
                        each item in entries
                            hr
                            h3= item.created_date 
                                |  - 
                                strong= item.label
                            p.lead(style="word-wrap:break-word;")= item.entry
                    else
                        p.lead You don't have any journal entries yet, what are you waiting for?
        
        include includes/scripts
        script.
            $(".active").click();

            // TODO: make the form require JS to post, actually don't. Make it fail gracefully
            
            function disableElement(elem) {
                $(elem).prop('disabled', true);
            }
            function enableElement(elem) {
                $(elem).prop('disabled', false);
            }
            
            $("#journalForm").submit(function (event) {
                event.preventDefault();

                // Temp save to localStorage
                localStorage.rating = $("#rating.active input").val();
                localStorage.journal = $("#journal").val().replace(/\s+$/,"");


                var submitType = $("#submit").val();
                $("#submit").button("loading");
                disableElement("#journal");
                $("label#rating").addClass("disabled");
                $("#journalSuccess").hide();
                $("#journalFail").hide();
                $.ajax({
                    type: "POST",
                    url: "/entries",
                    data: JSON.stringify({
                        submit: submitType,
                        rating: $("#rating.active input").val(),
                        journal: $("#journal").val().replace(/\s+$/,""),
                        ajax: true
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data){
                        if (data.hasOwnProperty("status") && data.status === "success") {
                            // TODO: show the success alert
                            $("#journalSuccess").show();
                        }
                        else {
                            // TODO: show other alert(s)
                            $("#journalFail span").text(data.error || "Woah, something went wrong and your journal entry didn't get saved.");
                            $("#journalFail").show();
                        }
                        console.log(data);
                    },
                    failure: function (errMsg) {
                        // TODO: handle the case where there's no network connection
                        console.log(errMsg);
                    }
                }).done(function() {
                    $("#submit").button("reset");
                    enableElement("#journal");
                    $("label#rating").removeClass("disabled");
                });
            });
            
