doctype html
html(lang="en")
    include includes/head
    body
        include includes/nav
        .container-fluid
            .row-fluid.egress-template
                .row-fluid.text-center
                    .container
                        #journalSuccess(class="alert alert-success alert-dismissable text-center" style="display:none")
                            button(type="button" class="close" data-dismiss="alert" aria-hidden="true")
                                | &times;
                            strong Success! 
                            span Your journal entry was saved.
                        #journalFail(class="alert alert-danger alert-dismissable text-center" style=msg ? "" : "display:none")
                            button(type="button" class="close" data-dismiss="alert" aria-hidden="true")
                                | &times;
                            strong Error! 
                            span
                                if msg
                                    | #{msg}
        .text-center
            .container
                h1 How was your day?
                hr
            form#journalForm(method="post" action="/entries")
                
                // TODO: add in a noscript tag here to deal with when JS is disabled
                .btn-group.row(data-toggle="buttons")
                    // TODO: setup conditional classes so each rating has it's own color
                    // TODO: use mixins
                    each val, index in {1:"Terrible", 2:"Bad", 3:"Okay", 4:"Good", 5:"Awesome"}
                        if today && today.value == index
                            label#rating.btn.btn-primary.active
                                input.rating-button(type="radio" name="rating" value="#{index}")
                                = val
                        else
                            label#rating.btn.btn-primary
                                input.rating-button(type="radio" name="rating" value="#{index}")
                                = val
                br
                br
                textarea.form-control(name="journal" id="journal" placeholder="Journal entry for today" style="min-width: 50px; max-width:600px; margin:0 auto;" required)= today ? today.entry : ""
                br
                input.btn.btn-primary(type="submit" id="submit" name="submit" value=today && typeof today.value === "undefined" ? "Save" : "Update")
            
            .row-fluid.text-center(style="min-width:50px; max-width:600px; margin:0 auto; padding-left:10px; padding-right:10px;")
                br
                if entries
                    ul.media-list
                        each item in entries
                            li.media
                                // TODO: add an image/div to hold the item.label simplify things
                                .media-body.text-left
                                    h4.media-heading.text-center #{item.created_date} - #{item.label}
                                    p(style="word-wrap:break-word;")= item.entry
                                    hr
                else
                    p.lead You don't have any journal entries yet, what are you waiting for?
        
        include includes/scripts
        script.
            $(".active").click();
            
            function disableElement(elem) {
                $(elem).prop('disabled', true);
            }
            function enableElement(elem) {
                $(elem).prop('disabled', false);
            }
            
            $("#journalForm").submit(function (event) {
                event.preventDefault();

                // Temp save to localStorage
                localStorage.rating = $("#rating.active input").val();
                localStorage.journal = $("#journal").val().replace(/\s+$/,"");

                var validationMessage = "";
                if ($("#journal").val().replace(/\s+$/,"").length === 0) {
                    validationMessage += "Enter a journal entry.";
                }
                if (!$(".rating-button").parent().hasClass("active")) {
                    validationMessage += " Select a rating.";
                }
                if (validationMessage.length === 0) {
                    var submitType = $("#submit").val();
                    $("#submit").button("loading");
                    disableElement("#journal");
                    $("label#rating").addClass("disabled");
                    $("#journalSuccess").hide();
                    $("#journalFail").hide();
                    $.ajax({
                        type: "POST",
                        url: "/entries",
                        data: JSON.stringify({
                            submit: submitType,
                            rating: $("#rating.active input").val(),
                            journal: $("#journal").val().replace(/\s+$/,""),
                            ajax: true
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data){
                            if (data.hasOwnProperty("status") && data.status === "success") {
                                $("#journalSuccess").show();
                            }
                            else {
                                $("#journalFail span").text(data.error || "Woah, something went wrong and your journal entry didn't get saved.");
                                $("#journalFail").show();
                            }
                            console.log(data);
                        },
                        failure: function (errMsg) {
                            // TODO: handle the case where there's no network connection
                            $("#journalFail span").text(data.error || "Woah, it seems like there's a connection issue. Please try saving your journal entry again.");
                            $("#journalFail").show();
                        }
                    }).done(function() {
                        $("#submit").button("reset");
                        enableElement("#journal");
                        $("label#rating").removeClass("disabled");
                    });
                }
                else { // If there's an invalid entry...
                    $("#journalFail span").text(validationMessage);
                    $("#journalFail").show();
                }
            });
            
